<style>
   h5,h6{
      text-align:center;
    }


    @media print {
        .btn-print {
          display:none !important;
    }
    .main-footer	{
    display:none !important;
    }
    .box.box-primary {
      border-top:none !important;
    }
    .nav_menu {
      display:none;
    }
    footer{
      display:none;
    }


    }

</style>
